:root{

    --light-color:#DDD;
    --red-color:#d36582;
    --light-color-dark:#BBB;
}

* {
    font-size: 16px;
    line-height: 2;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: var(--light-color);
}

h1 {
    color: #444 !important;
}
 
#main {
    background-color: var(--light-color);
    margin-top: 0px;
    padding: 30px;
    border-radius: 15px 15px 0px 0px;
}

#warning_strip {
    height: 15px;
    width: 100%;
    background-image: url("../img/warning.png");
    background-repeat: repeat-x;
    background-position: 50% 0%;
    background-size: 400px 20px;
}

.navbar .vertical-divider {
    height: 50px;
    margin: 0px;
    border-right: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
}

.navbar-inverse .vertical-divider {
    border-right-color: #588DA0;
    border-left-color: var(--light-color);
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .vertical-divider {
        display: none;
     }
}


/* navbar */
.navbar-default {
    background-color: var(--light-color-dark);
    border-color: var(--light-color);
}
/* title */
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
    background-color: var(--light-color);
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #444;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: var(--light-color);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #222;
    background-color: var(--light-color);
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: var(--light-color);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: var(--light-color);
    border-bottom-color: var(--light-color);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: var(--light-color-dark);
    border-bottom-color: var(--light-color-dark);
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: var(--light-color-dark);
    border-bottom-color: var(--light-color-dark);
}
.dropdown-menu {
    background-color: var(--light-color);
}
.dropdown-menu > li > a {
    color: black;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #AAA;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: var(--light-color-dark);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: var(--light-color);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #666;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        background-color: var(--light-color)
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #222;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #AAA;
    }
}

/* Footer */

.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: var(--light-color-dark);
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid var(--light-color);
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: var(--light-color-dark);
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #555;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.footer-bottom {
	background: var(--light-color);
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}